.mediaViewInfo {
	--web-view-name: FriendScreen ;
	--web-view-id: FriendScreen_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: FriendScreen_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#FriendScreen_ {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: FriendScreen ;
	--web-view-id: FriendScreen_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#BGShapes {
	opacity: 0.75;
	position: absolute;
	width: 874.568px;
	height: 1300.294px;
	left: -180.763px;
	top: -218.429px;
	overflow: visible;
}
#Path_3 {
	opacity: 0.797;
	fill: rgba(244,244,244,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 521.814px;
	height: 452.201px;
	left: 352.754px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(244,244,244,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 525.369px;
	height: 459.572px;
	left: 0px;
	top: 840.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Friend {
	position: absolute;
	width: 326px;
	height: 74px;
	left: 25px;
	top: 243px;
	overflow: visible;
}
#Bg {
	fill: rgba(244,244,244,1);
}
.Bg {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Carrot {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 288px;
	top: 26px;
	overflow: visible;
}
#Joe {
	left: 102px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Friend_q {
	position: absolute;
	width: 326px;
	height: 74px;
	left: 25px;
	top: 407px;
	overflow: visible;
}
#bg {
	fill: rgba(244,244,244,1);
}
.bg {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Carrot_s {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 288px;
	top: 26px;
	overflow: visible;
}
#Allison {
	left: 102px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Friend_u {
	position: absolute;
	width: 326px;
	height: 74px;
	left: 25px;
	top: 325px;
	overflow: visible;
}
#Bg_v {
	fill: rgba(244,244,244,1);
}
.Bg_v {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Carrot_w {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 288px;
	top: 26px;
	overflow: visible;
}
#Tony {
	left: 102px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Status_Bar {
	position: absolute;
	width: 393px;
	height: 44px;
	left: -18px;
	top: 0px;
	overflow: visible;
}
#Frame {
	opacity: 0.001;
	fill: rgba(255,255,255,1);
}
.Frame {
	position: absolute;
	overflow: visible;
	width: 393px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#Status_Bar_ {
	position: absolute;
	width: 358px;
	height: 18px;
	left: 21px;
	top: 13px;
	overflow: visible;
}
#Battery {
	position: absolute;
	width: 24.328px;
	height: 11.333px;
	left: 333.672px;
	top: 3.333px;
	overflow: visible;
}
#Border {
	opacity: 0.35;
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Border {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 11.333px;
	left: 0px;
	top: 0px;
}
#Cap {
	opacity: 0.4;
	fill: rgba(0,0,0,1);
}
.Cap {
	overflow: visible;
	position: absolute;
	width: 1.328px;
	height: 4px;
	left: 23px;
	top: 3.667px;
	transform: matrix(1,0,0,1,0,0);
}
#Capacity {
	fill: rgba(0,0,0,1);
}
.Capacity {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 7.333px;
	left: 2px;
	top: 2px;
}
#Wifi {
	fill: rgba(0,0,0,1);
}
.Wifi {
	overflow: visible;
	position: absolute;
	width: 15.333px;
	height: 11px;
	left: 313.339px;
	top: 3.331px;
	transform: matrix(1,0,0,1,0,0);
}
#Cellular_Connection {
	fill: rgba(0,0,0,1);
}
.Cellular_Connection {
	overflow: visible;
	position: absolute;
	width: 17px;
	height: 10.667px;
	left: 291.339px;
	top: 3.667px;
	transform: matrix(1,0,0,1,0,0);
}
#Time_Style {
	position: absolute;
	width: 54px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Time {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 18px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.2px;
}
#Menu {
	fill: rgba(0,0,0,1);
}
.Menu {
	overflow: visible;
	position: absolute;
	width: 24.556px;
	height: 24.446px;
	left: 25px;
	top: 71.116px;
	transform: matrix(1,0,0,1,0,0);
}
#Friends {
	left: 25px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(38,37,37,1);
}
#Friend_pp_ {
	position: absolute;
	width: 44px;
	height: 45px;
	left: 37px;
	top: 260px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#J {
	left: 18px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Friend_pp__be {
	position: absolute;
	width: 44px;
	height: 45px;
	left: 37px;
	top: 340px;
	overflow: visible;
}
#Ellipse_1_bf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_bf {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#T {
	left: 17px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Friend_pp__bh {
	position: absolute;
	width: 44px;
	height: 45px;
	left: 37px;
	top: 422px;
	overflow: visible;
}
#Ellipse_1_bi {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_bi {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#A {
	left: 18px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(112,112,112,1);
}
#Profile_Pic {
	position: absolute;
	width: 58px;
	height: 59px;
	left: 289px;
	top: 52px;
	overflow: visible;
}
#Ellipse_1_bl {
	fill: rgba(255,255,255,1);
	stroke: rgba(38,38,38,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_bl {
	position: absolute;
	overflow: visible;
	width: 58px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#tobi {
	left: 12px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(112,112,112,1);
}